<div class="content">
    <div class="row" *ngIf="item">
        <div class="col-12 col-md-6">
            <div class="card cursor-pointer shadow rounded" [routerLink]="['/app/newsdatabaselist']">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib">
                            <i style="font-size: 36px;color: #fb9678;" class="fa fa-database"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{item?.database}}</span>
                                </div>
                                <div class="stat-heading">{{item?.database > 1 ? 'Databases' : 'Database'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
                <div class="card cursor-pointer shadow rounded" [routerLink]="['/app/newslist']">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib">
                                <i style="font-size: 36px;color: #03a9f3;" class="fa fa-tv"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">{{item?.news}}</span>
                                    </div>
                                    <div class="stat-heading">{{item?.news > 1 ? 'Notícias' : 'Notícia'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>