<app-breadcrumb [title]="'Database'" [domain]="'Cadastro'" [page]="'Pesquisa Database'"></app-breadcrumb>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-12 col-sm-12">
                <article class="article">
                    <button class="pull-right btn-new" color="primary" mat-raised-button
                        [routerLink]="['/app/newsdatabase']">Novo
                        Database
                    </button>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12">

                <div class="table-container mat-elevation-z8" *ngIf="dataSource">

                    <div class="table-header" *ngIf="noItems">
                        <mat-form-field>
                            <input matInput #searchTextRef placeholder="Pesquisar">
                        </mat-form-field>
                    </div>

                    <div *ngIf="showMessage">
                        <app-message [message]="titleMsg" [type]="'info'"></app-message>
                    </div>

                    <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
                        (matSortChange)="sortData($event)" [hidden]="!hasSearch">

                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header="name">
                                <mat-icon class="tooltip-table"
                                    matTooltip="'Clique na seta para alterar a ordem de ordenação da tabela'"
                                    [matTooltipPosition]="'above'">help</mat-icon>
                                Nome
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item">
                                <div [innerHtml]="item.name | highlight : filterValue"></div>
                            </mat-cell>
                        </ng-container>

                        <!-- Type -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef mat-sort-header="type">
                                <mat-icon class="tooltip-table"
                                    matTooltip="'Clique na seta para alterar a ordem de ordenação da tabela'"
                                    [matTooltipPosition]="'above'">help</mat-icon>
                                type
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item">
                                <div [innerHtml]="item.type | highlight : filterValue"></div>
                            </mat-cell>
                        </ng-container>

                        <!-- status -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef>
                                Status
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item">
                                <div [innerHtml]="item.status ? 'Ativo': 'Inativo' | highlight : filterValue"></div>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="edit">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let item">
                                <mat-icon class="cursor-pointer" mat-button [routerLink]="['/app/newsdatabase']"
                                    [queryParams]="{_id: item.id}" matTooltip="Editar">mode_edit</mat-icon>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <mat-header-cell *matHeaderCellDef style="flex: 0 0 15%"></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="flex: 0 0 15%">
                                <mat-icon style="color: #DD6B55;" class="cursor-pointer" mat-button
                                    (click)="delete(item.id)" matTooltip="Apagar">delete</mat-icon>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="getNext($event)" showFirstLastButtons
                        [hidden]="!hasSearch">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>