.my-drop-zone {
    border: dotted 3px lightgray;
    height: 110px;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 15px;

    &.has-file {
        height: auto;
    }
}

.nv-file-over {
    border: dotted 3px green;
}

.upload-wrapper {
    padding-bottom: 10px;
    .upload-preview {
        margin-top: 20px;
        padding-left: 20px;
        display: inline-block;
    }
}


/* Default class applied to drop zones on over */